@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&family=Roboto:wght@300&display=swap');

body {
  background-color:#7CD;
}
.todoItem {
  color: red;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
}

checkbox {
  display: inline-flex;
}

.todoList {
  background-color: white;
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  padding: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.headerNav {
  background-color: #F53;
  color: white;
  font-family: 'Pacifico', cursive;
}

hr.divider {
	border-top: 1px dashed #8c8b8b;
}

#navLink {
  font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
}