@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&family=Roboto:wght@300&display=swap');

body {
  background-color:#7CD;
}
.todoItem {
  color: red;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
}

checkbox {
  display: inline-flex;
}

.todoList {
  background-color: white;
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  padding: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.headerNav {
  background-color: #F53;
  color: white;
  font-family: 'Pacifico', cursive;
}

hr.divider {
	border-top: 1px dashed #8c8b8b;
}

#navLink {
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #7CD;
}
#navLink:hover {
  color: #02C8A7;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #F53;
}
.navbar-brand {
  font-size: 1.8rem;
}
.navbar-brand:hover {
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}
.nav-item:hover {
  background-color: #f9be02;
  opacity: 0.8;
  width: 20%;
}