@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&family=Roboto:wght@300&display=swap');

body {
  background-color:#7CD;
}
.todoItem {
  color: red;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
}

checkbox {
  display: inline-flex;
}

.todoList {
  background-color: white;
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  padding: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.headerNav {
  background-color: #F53;
  color: white;
  font-family: 'Pacifico', cursive;
}

hr.divider {
	border-top: 1px dashed #8c8b8b;
}

#navLink {
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #7CD;
  padding: 0.5rem;
}
#navLink:hover {
  color: #02C8A7;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #F53;
}
.navbar-brand {
  font-size: 1.8rem;
}
.navbar-brand:hover {
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}
.nav-item {
  transition: background-color 0.5s ease;
  width: 20%;
}
.nav-item:hover {
  background-color: white;
  width: 20%;
  opacity: 0.9;
}
h1 {
  text-align: center;
}
/* CHECKBOX STYLES */
.c-cb {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.25;
  display: block;
  position: relative;
  min-height: 44px;
  padding-left: 40px;
  clear: left;
}
.c-cb > label::before,
.c-cb > input[type="checkbox"] {
  box-sizing: border-box;
  top: -2px;
  left: -2px;
  width: 44px;
  height: 44px;
}
.c-cb > input[type="checkbox"] {
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  margin: 0;
  opacity: 0;
}
.c-cb > label {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  display: inline-block;
  margin-bottom: 0;
  padding: 8px 15px 5px;
  cursor: pointer;
  touch-action: manipulation;
}
.c-cb > label::before {
  content: "";
  position: absolute;
  border: 2px solid currentColor;
  background: transparent;
}
.c-cb > input[type="checkbox"]:focus + label::before {
  border-width: 4px;
  outline: 3px dashed #228bec;
}
.c-cb > label::after {
  box-sizing: content-box;
  content: "";
  position: absolute;
  top: 11px;
  left: 9px;
  width: 18px;
  height: 7px;
  transform: rotate(-45deg);
  border: solid;
  border-width: 0 0 5px 5px;
  border-top-color: transparent;
  opacity: 0;
  background: transparent;
}
.c-cb > input[type="checkbox"]:checked + label::after {
  opacity: 1;
}